= render :partial => 'shared/searchbar'

.row
	.col-xs-12.col-sm-4.col-md-2.cook_area
		= render :partial => 'shared/cook_preview', cook: @cook
	.col-xs-12.col-sm-8.col-md-10.recipes_area
		.row
			.title
				%h1= "Les recettes de " + @cook.title
		= render :partial => 'recipes_list', recipes: @recipes
		

