%h1='Hello ' + current_user.email + '  !!'

%li=link_to "Modifier mon compte", edit_user_registration_path(@user), class: 'btn btn-info'
%li=link_to "Supprimer mon compte", user_registration_path(@user), data: { confirm: "Toutes les données de votre compte seront supprimées ! Etes-vous sûr ?" }, method: :delete, class: 'btn btn-danger' 

- if @cook.blank?
	%li=link_to "Activer mon cookadom", new_cook_path, class: 'btn btn-info'
- else
	%br
	les détails de votre cuisinier :
	%br
	%li=@cook.name
	%li=@cook.introduction
	%li=@cook.postal_code
	%li=@cook.working_distance
	%li=link_to "Désactiver mon cookadom", cook_path(@cook), method: :delete, data: {confirm: "Votre cuisinier et toutes vos recettes seront supprimées ! Etes-vous sûr ?"}, class: 'btn btn-danger'
	
	%br
	%li=link_to "Créer une recette", new_recipe_path, class: 'btn btn-info'
	=@recipes.count
	recettes proposées : 
	- @recipes.each do |recipe|
		=link_to recipe.title, recipe_path(recipe)
