.row
	- if @cook.present?
		.col-xs-12.col-sm-6.col-md-3.col-lg-2
			= render :partial => 'shared/cook_details', cook: @cook

		.col-xs-12.col-sm-6.col-md-3.col-lg-2
			= render :partial => 'shared/my_account', user: @user, cook: @cook, recipes: @recipes, book_recipes: @book_recipes
	- else
		.col-xs-12
			= render :partial => 'shared/my_account', user: @user, cook: @cook, recipes: @recipes, book_recipes: @book_recipes