.row
	- if @user.present?
		- if @new_cook == true
			= render :partial => 'show_account', user: @user, cook: @cook, recipes: @recipes, book_recipes: @book_recipes
		- else
			.col-xs-12.col-sm-6
				= render :partial => 'cooks/cook_preview', cook: @cook
			.col-xs-12.col-sm-6
				= render :partial => 'show_account', user: @user, cook: @cook, recipes: @recipes, book_recipes: @book_recipes
	- else
		= render :partial => 'create_account'

